html,
body {
    height: 100%;
    margin: !important 0 auto;
    max-width:100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto ;
}

.wrap > .container {
    padding: 0px 15px 20px;
    height: auto;
    margin-bottom: 90px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    padding-top : 0px;
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
    
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.navbar {
    position: relative;
    border: 1px solid transparent;
    margin-bottom : 0px;
}
.container2 {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: -65px;
    margin-bottom:0px;
}
.container3{
    padding: 0px 15px 20px;
    height: auto;
    margin : 0 auto;
    }
.sejarah-img{

}
.sejarah-isi{
    max-width:775px;
    text-align:justify;
    text-justify:inter-word;

}
.sejarah-visi{
    text-align:justify;
    text-justify:inter-word;
    width: 100%;
}
.imgSejarah{
    width:100%;
}
.foto-profil{
    width:100px;
    height:auto;
}
.foto-profil-detail{
    width:30%;
}

.detail-profil{
    width:95%;
    margin-top:20px;
    left:0px;
}
.data{
    width:200px;
    background: #COCOCO;
}

.data2{
    width:200px;
    padding: 10px;
}
.keterangan-profil{
    font-size:18px;
    margin-left:20px;
}

.one {
    min-width:340px;
    max-width:775px;
    background: #fff;
    float: left;
    margin-right:35px;
}
.two {
    min-width: 200px;
    max-width: 300px;
    background: #fff;
    float: right;
}
.grid-sidebar{
    padding: 12px;
    height: auto;
    width: 96%;
    background: #E8E8E8;
    margin: 10px;
    margin-left:10px;
    margin-bottom:17px;
    border-radius:10px;
    text-align:justify;
    text-justify:inter-word;
    float:right;
}
.foto-icon{
    width:100%;
    height:auto;
    margin-right: 10px;
    border-radius:10px;
    margin-bottom: 5px;
}
hr{
    width: 92%;
    float:left;
}
.justify{
    text-align:justify;
    text-justify:inter-word;

}
.grid1{
    width: 262px;
    height: 262px;
    background: #E8E8E8;
    float: left;
    margin-top:8px;
    margin-right: 15px;
    margin-bottom: 7px;
    padding:15px;
    border-radius:10px;
    color:  black;

}

.grid1:hover{
    background:#DCDCDC;
    opacity:50%;
}
.dataAnggota{
    width:90%;
    padding:10px;
}
table.footable>tbody>tr>td, table.footable>tbody>tr>th {
    display: none;
    padding: 10px;
}
.detailAnggota{
    width:80%
}